<template>
  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="is-size-3 is-bold">Timeout</h2>
        <div class="field">
          <div class="control">
            <input type="number" class="input" v-model="timeoutTime" placeholder="Enter a time between 0 and tu vieja (in seconds)">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button type="button" class="button is-primary" @click.prevent="timeout" :disabled="!timeoutTime">Call me in a while</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="is-size-3 is-bold">Interval</h2>

        <div class="field">
          <div class="control">
           <input type="number" class="input" v-model="intervalTime" placeholder="Enter how often we will call tu vieja (in seconds)">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button v-if="!currentInterval" class="button is-link" type="button" @click.prevent="interval" :disabled="!intervalTime">Call tu vieja</button>
            <button v-else type="button" class="button is-danger" @click.prevent="stopInterval" >Stop Calling</button>
          </div>
        </div>
      </div>
    </div>
    
    

  </div>
</template>

<script>
  export default {
    data() {
      return {
        timeoutTime: null,
        intervalTime: null,
        currentTimeout: null,
        currentInterval: null,
      }
    },
    methods: {
      timeout() {
        this.currentTimeout = setTimeout(() => {
          alert('Tu vieja is calling');
        }, this.timeoutTime * 1000);
      },
      interval() {
        this.currentInterval = setInterval(() => {
          alert('Calling tu vieja');
        }, this.intervalTime * 1000);
      },
      stopInterval() {
        clearInterval(this.currentInterval);
        this.currentInterval = null;
      }
    }
  }
</script>

<style scoped>

</style>