<template>
  <div class="columns">
        
          <div class="column is-3">
            <div class="card has-background-info is-rounded">
              <div class="card-content">
                <router-link to="/callbacks" class="has-text-white is-size-3">
                    Callbacks
                </router-link>
              </div>
            </div>
            

          </div>
          <div class="column is-3">
            <div class="card has-background-warning is-rounded">
                <div class="card-content">
                  <router-link to="/promises" class="has-text-white is-size-3">
                      Promises
                  </router-link>
                </div>
              </div>
          </div>
          <div class="column is-3">
            <div class="card has-background-primary is-rounded">
                <div class="card-content">
                  <router-link to="/web-workers" class="has-text-white is-size-3">
                      Web Workers
                  </router-link>
                </div>
              </div>
          </div>
      </div>

  
</template>

<script>

export default {
  name: 'home',
  components: {
  },
}
</script>
