<template>
  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="is-size-3">Promises en Javascript</h2> 
        <br>
        <p class="is-size-5">Las <strong>promises</strong> (promesas) son objetos de javascript que nos permiten 
        ejecutar código cuando un proceso termina. Tienen una sintaxis diferente (más práctica) 
        que las callbacks y son convenientes porque permiten un fácil encadenamiento de procesos asincrónicos
        </p>
        <br>
        <p class="is-size-5"><strong>O sea</strong> te deja enganchar promesas electorales y hacer algo cuando se cumplen, y otra cosa cuando no se cumplen. 
        <span>Ponele que las promesas de javascript tienen chance de cumplirse, las de tu candidato/a no.</span>
        </p>
        <div class="section">
          <div class="container">
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button type="button" class="button is-primary" @click.prevent="createMessage">Prometeme algo lindo</button>

              </div>
              <div class="control">
                <button type="button" class="button is-warning" @click.prevent="createMessageList">Mentime que me gusta</button>

              </div>
            </div>
          </div>
        </div>
        
        <div class="panel" v-if="messages.length > 0">
          <p class="panel-heading">
            Promesas hechas
          </p>
          <div v-for="(message, index) in messages" :key="index" class="panel-block">
            {{ message }}
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</template>

<script>
  export default {
    name: 'promises',
    data() {
      return {
        messages: []
      }
    },
    methods: {
      createMessage() {
        this.getMessage().then((response) => {
          this.messages.push(response);
        })
      },
      getMessage() {
        return new Promise((resolve) => {

          resolve('Promesa electoral número ' + (this.messages.length + 1));
        });
      },
      getMessageWithWait() {
        return new Promise((resolve) => {
          this.nFact(100000000);
          resolve('Promesa electoral número ' + (this.messages.length + 1));

        });
      },
      createMessageList() {
        let promises = [];
        for (let i = 0; i < 10; i++) {
          // promises.push(this.getMessage());
          promises.push(this.getMessageWithWait());
        }
        Promise.all(promises).then((responses) => {
          this.messages = this.messages.concat(responses);
        });
      },
      nFact(i) {
        let iterator = i;
        let result = 1;
        while (iterator >= 1) {
          result = result*iterator;
          iterator--;
        }
        return result;
      }
    }
    
  }
</script>

<style scoped>

</style>