<template>
  <div class="columns">
    <div class="column">
      <div class="box">
        <h1 class="is-size-3 is-bold">Web Workers</h1>

        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button @click.prevent="doHeavyLifting" class="button is-danger">Click me and I load</button>
          </div>
          <div class="control">
            <button @click.prevent="makeSlaveWork" class="button is-link">Click me and the slave loads</button>

          </div>
        </div>
        <br>
        <div v-if="loading">
          <p class="label">What you see now is visible only while the app is executing a heavy operation.</p>
          <div class="field is-grouped is-grouped-centered" >
          
            <div class="control">
              <button class="button is-warning">SMASH ME!</button>
            </div>
          </div>
          <span class="help-text">Now go ahead and smash this button</span>
        </div>
         

      </div>
    </div>
    
  </div>
</template>

<script>
import Worker from '../web-workers/workshop.worker.js';

  export default {
    data() {
      return {
        slave: new Worker(),
        loading: false,
        loadingTime: 0,
      };
    },
    mounted() {
     
      this.slave.onmessage = (ev) => {
        this.doneLoading();
        console.log('worker is done!', ev.data);
      };
    },
    methods: {
      startLoading() {
        this.loadingTime = new Date().getTime();
        this.loading = true;
      },
      doneLoading() {
        this.loadingTime = new Date().getTime() - this.loadingTime;
        alert(`Page loaded for ${this.loadingTime}ms`);
        this.loading = false;
      },
      doHeavyLifting() {
        this.startLoading();
        let aString = 'abc';
        while (aString.length < 100000000) {
          aString += 'abc';
          // console.log(aString);
        }
        this.doneLoading();
      },
      makeSlaveWork() {
        this.startLoading();
        this.slave.postMessage({ aString: 'abc' });
      }
    }
  }
</script>

<style scoped>

</style>