<template>
  <nav class="navbar" role="navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        
        <router-link to="/" class="navbar-item">Home</router-link>
        <router-link to="/callbacks" class="navbar-item">Callbacks</router-link>
        <router-link to="/promises" class="navbar-item">Promises</router-link>
        <router-link to="/web-workers" class="navbar-item">Web Workers</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    
  }
</script>

<style scoped>

</style>