<template>
  <div id="app">
    <app-nav></app-nav>
    <div class="section">
      <div class="container">
        <router-view/>
      </div>
    </div>
  </div>
</template>
<script>
import AppNav from '@/components/AppNav.vue';

export default {
  components: {
    AppNav,
  }
}
</script>
<style>
html, body, #app {
  height: 100%;
  overflow-y: hidden;
  background-color: #000033;
}
</style>
